version: '3.8' 
 
services: 
  rabbitmq: 
    image: rabbitmq:3.11-management 
    container_name: rabbitmq 
    ports: 
      - "5672:5672" 
      - "15672:15672" 
    environment: 
      RABBITMQ_DEFAULT_USER: user 
      RABBITMQ_DEFAULT_PASS: password 
  zookeeper: 
    image: confluentinc/cp-zookeeper:8.2.0 
    container_name: zookeeper 
    environment: 
      ZOOKEEPER_CLIENT_PORT: 2181 
      ZOOKEEPER_TICK_TIME: 2000 
  kafka: 
    image: confluentinc/cp-kafka:8.2.0 
    container_name: kafka 
    depends_on: 
      - zookeeper 
    ports: 
      - "9092:9092" 
    environment: 
      KAFKA_BROKER_ID: 1 
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181 
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092 
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1 
  mysql: 
    image: mysql:8.1 
    container_name: mysql 
    environment: 
      MYSQL_ROOT_PASSWORD: root 
      MYSQL_DATABASE: messageflow 
      MYSQL_USER: user 
      MYSQL_PASSWORD: password 
    ports: 
      - "3306:3306" 
